<!DOCTYPE html>
{% extends 'base.html' %}

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
{% block title %}Home{% endblock %}
</head>

{% block content %}


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YWV3VM2PJX"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-YWV3VM2PJX');
      </script>
    <title>Products | Blackmagic Design</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="author" content="Blackmagic Design">
    <meta name="description" content="Explore Blackmagic Design products that include professional cameras, broadcast converters, DaVinci Resolve software and live production switchers.">
    
    <meta name="viewport" content="width=1080">
    
    <link rel="canonical" href="https://www.blackmagicdesign.com/products" />
    <link rel="alternate" hreflang="en-us" href="https://www.blackmagicdesign.com/products" />
  <link rel="alternate" hreflang="en-ae" href="https://www.blackmagicdesign.com/ae/products" />
  <link rel="alternate" hreflang="es-ar" href="https://www.blackmagicdesign.com/ar/products" />
  <link rel="alternate" hreflang="de-at" href="https://www.blackmagicdesign.com/at/products" />
  <link rel="alternate" hreflang="en-au" href="https://www.blackmagicdesign.com/au/products" />
  <link rel="alternate" hreflang="pt-br" href="https://www.blackmagicdesign.com/br/products" />
  <link rel="alternate" hreflang="en-ca" href="https://www.blackmagicdesign.com/ca/products" />
  <link rel="alternate" hreflang="zh-cn" href="https://www.blackmagicdesign.com/cn/products" />
  <link rel="alternate" hreflang="de-de" href="https://www.blackmagicdesign.com/de/products" />
  <link rel="alternate" hreflang="en-dk" href="https://www.blackmagicdesign.com/dk/products" />
  <link rel="alternate" hreflang="es-es" href="https://www.blackmagicdesign.com/es/products" />
  <link rel="alternate" hreflang="en-fi" href="https://www.blackmagicdesign.com/fi/products" />
  <link rel="alternate" hreflang="fr-fr" href="https://www.blackmagicdesign.com/fr/products" />
  <link rel="alternate" hreflang="en-hk" href="https://www.blackmagicdesign.com/hk/products" />
  <link rel="alternate" hreflang="en-in" href="https://www.blackmagicdesign.com/in/products" />
  <link rel="alternate" hreflang="it-it" href="https://www.blackmagicdesign.com/it/products" />
  <link rel="alternate" hreflang="ja-jp" href="https://www.blackmagicdesign.com/jp/products" />
  <link rel="alternate" hreflang="ko-kr" href="https://www.blackmagicdesign.com/kr/products" />
  <link rel="alternate" hreflang="es-mx" href="https://www.blackmagicdesign.com/mx/products" />
  <link rel="alternate" hreflang="en-nl" href="https://www.blackmagicdesign.com/nl/products" />
  <link rel="alternate" hreflang="en-no" href="https://www.blackmagicdesign.com/no/products" />
  <link rel="alternate" hreflang="en-nz" href="https://www.blackmagicdesign.com/nz/products" />
  <link rel="alternate" hreflang="pl-pl" href="https://www.blackmagicdesign.com/pl/products" />
  <link rel="alternate" hreflang="pt-pt" href="https://www.blackmagicdesign.com/pt/products" />
  <link rel="alternate" hreflang="en-za" href="https://www.blackmagicdesign.com/sa/products" />
  <link rel="alternate" hreflang="en-se" href="https://www.blackmagicdesign.com/se/products" />
  <link rel="alternate" hreflang="en-sg" href="https://www.blackmagicdesign.com/sg/products" />
  <link rel="alternate" hreflang="tr-tr" href="https://www.blackmagicdesign.com/tr/products" />
  <link rel="alternate" hreflang="en-tw" href="https://www.blackmagicdesign.com/tw/products" />
  <link rel="alternate" hreflang="uk-ua" href="https://www.blackmagicdesign.com/ua/products" />
  <link rel="alternate" hreflang="en-gb" href="https://www.blackmagicdesign.com/uk/products" />
  <link rel="alternate" hreflang="x-default" href="https://www.blackmagicdesign.com/products" />
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/edd421a4-d799-4580-9d28-780490dceaac.css">
    <link type="text/css" rel="stylesheet" href="https://css.blackmagicdesign.com/css/global.css?_v=1703127658">
    <link type="text/css" rel="stylesheet" href="https://css.blackmagicdesign.com/css/base-v2.css?_v=1571712770">
    <link type="text/css" rel="stylesheet" href="https://css.blackmagicdesign.com/css/products/landing/landing.css?_v=1712936931">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=latin,cyrillic-ext,cyrillic">
    <link type="text/css" rel="stylesheet" href="https://css.blackmagicdesign.com/static/fonts/radnika/radnika.css?_v=1606705995">
    
    <link rel="stylesheet" href="https://use.typekit.net/wkv7kbv.css">
    
    <link rel="stylesheet" href="https://use.typekit.net/tpm0yvl.css">
    <script type="text/javascript" src="https://jslibs.blackmagicdesign.com/bundles/js/jquery-with-validate-bundle-1.8.3.js?_v=1490750399"></script>
    <script type="text/javascript" src="https://jslibs.blackmagicdesign.com/scripts/libs/modernizr-1.7.min.js?_v=1419207070"></script>
    <script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//script.crazyegg.com/pages/scripts/0032/5908.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
  </head>
  <body id="Home-products" class="v3 in ">
    <form method="post" action="/products" id="form1" ng-controller="landingController">
<div id="gn-main-placeholder"></div>
<div id="gn-sub-placeholder"></div>
      <section id="title">
	<h1>
	Explore Blackmagic Design Products
	</h1>
</section>
<section id="products">
	<div class="header">
		<h3>Select a Product Family</h3>
	</div>
	<div class="families">
		<div class="row">
			<a ng-click="setSection('professional-cameras')" ng-class="{active:current === 'professional-cameras'}">
				<img alt="Professional Cameras" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/professional-cameras.jpg?_v=1712885215" srcset="https://images.blackmagicdesign.com/images/products/landing/families/professional-cameras@2x.jpg?_v=1712885215 2x">
				<div>Professional Cameras</div>
			</a>
			<a ng-click="setSection('davinci-resolve-and-fusion-software')" ng-class="{active:current === 'davinci-resolve-and-fusion-software'}">
				<img alt="DaVinci Resolve" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/davinci-resolve.jpg?_v=1607036001" srcset="https://images.blackmagicdesign.com/images/products/landing/families/davinci-resolve@2x.jpg?_v=1607036001 2x">
				<div>DaVinci Resolve and Fusion Software</div>
			</a>
			<a ng-click="setSection('atem-live-production-switchers')" ng-class="{active:current === 'atem-live-production-switchers'}">
				<img alt="ATEM Live Production Switchers" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/atem-live-production-switchers.jpg?_v=1585515895" srcset="https://images.blackmagicdesign.com/images/products/landing/families/atem-live-production-switchers@2x.jpg?_v=1585515917 2x">
				<div>ATEM Live Production Switchers</div>
			</a>
			<a ng-click="setSection('ultimatte')" ng-class="{active:current === 'ultimatte'}">
				<img alt="Streaming and Encoding" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/ultimatte.jpg?_v=1662357925" srcset="https://images.blackmagicdesign.com/images/products/landing/families/ultimatte@2x.jpg?_v=1662357925 2x">
				<div>Ultimatte</div>
			</a>
			<a ng-click="setSection('disk-recorders-and-storage')" ng-class="{active:current === 'disk-recorders-and-storage'}">
				<img alt="Disk Recorders and Disk Storage" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/disk-recorders-disk-storage.jpg?_v=1627288697" srcset="https://images.blackmagicdesign.com/images/products/landing/families/disk-recorders-disk-storage@2x.jpg?_v=1627288698 2x">
				<div>Duplication, Disk Recorders and Storage</div>
			</a>
			<a ng-click="setSection('capture-and-playback')" ng-class="{active:current === 'capture-and-playback'}">
				<img alt="Capture and Playback" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/capture-and-playback.jpg?_v=1492656806" srcset="https://images.blackmagicdesign.com/images/products/landing/families/capture-and-playback@2x.jpg?_v=1492656757 2x">
				<div>Capture and Playback</div>
			</a>
			<a ng-click="setSection('cintel-scanner')" ng-class="{active:current === 'cintel-scanner'}">
				<img alt="Capture and Playback" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/cintel-film-scanning.jpg?_v=1460999808" srcset="https://images.blackmagicdesign.com/images/products/landing/families/cintel-film-scanning@2x.jpg?_v=1460999808 2x">
				<div>Cintel Scanner</div>
			</a>
		</div>
		<div class="row">
			<a ng-click="setSection('standards-conversion')" ng-class="{active:current === 'standards-conversion'}">
				<img alt="Standards Conversion" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/standards-conversion.jpg?_v=1460999808" srcset="https://images.blackmagicdesign.com/images/products/landing/families/standards-conversion@2x.jpg?_v=1460999808 2x">
				<div>Standards Conversion</div>
			</a>
			<a ng-click="setSection('broadcast-converters')" ng-class="{active:current === 'broadcast-converters'}">
				<img alt="Broadcast Converters" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/broadcast-and-camera-converters.jpg?_v=1554726801" srcset="https://images.blackmagicdesign.com/images/products/landing/families/broadcast-and-camera-converters@2x.jpg?_v=1554726813 2x">
				<div>Broadcast Converters</div>
			</a>
			<a ng-click="setSection('video-audio-monitoring')" ng-class="{active:current === 'video-audio-monitoring'}">
				<img alt="Video Monitoring" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/video-audio-monitoring.jpg?_v=1582778279" srcset="https://images.blackmagicdesign.com/images/products/landing/families/video-audio-monitoring@2x.jpg?_v=1582778267 2x">
				<div>Monitoring</div>
			</a>
			<a ng-click="setSection('network-storage')" ng-class="{active:current === 'network-storage'}">
				<img alt="Network Storage" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/network-storage.jpg?_v=1650000500" srcset="https://images.blackmagicdesign.com/images/products/landing/families/network-storage@2x.jpg?_v=1650000501 2x">
				<div>Network Storage</div>
			</a>
			<a ng-click="setSection('multiview')" ng-class="{active:current === 'multiview'}">
				<img alt="MultiView" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/multiview.jpg?_v=1525138874" srcset="https://images.blackmagicdesign.com/images/products/landing/families/multiview@2x.jpg?_v=1525138850 2x">
				<div>MultiView</div>
			</a>
			<a ng-click="setSection('routing-and-distribution')" ng-class="{active:current === 'routing-and-distribution'}">
				<img alt="Routing and Distribution" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/routing-and-distribution.jpg?_v=1694486099" srcset="https://images.blackmagicdesign.com/images/products/landing/families/routing-and-distribution@2x.jpg?_v=1694486099 2x">
				<div>Routing and Distribution</div>
			</a>
			<a ng-click="setSection('streaming-and-encoding')" ng-class="{active:current === 'streaming-and-encoding'}">
				<img alt="Streaming and Encoding" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/streaming-encoding.jpg?_v=1485906516" srcset="https://images.blackmagicdesign.com/images/products/landing/families/streaming-encoding@2x.jpg?_v=1485906517 2x">
				<div>Streaming and Encoding</div>
			</a>
		</div>
	</div>
</section>
    </form>
    <script type="text/javascript" src="https://jslibs.blackmagicdesign.com/bundles/js/std-bundle.js?_v=1606705995"></script><script type="text/javascript">
(function(window) {
    window.__bmd = window.__bmd || {};
    window.__bmd.getCountry = function () {
        return 'in';
    };
    window.__bmd.getIsoCountry = function () {
        return 'in';
    };
    window.__bmd.getLang = function () {
        return 'en';
    };
    window.__bmd.getUrlPrefix = function () {
        return '/in';
    };
    window.__bmd.getUnicodeLocale = function () {
        return 'en_IN';
    };
    window.__bmd.hasStore = function () {
        return false;          
    };
})(typeof window === "undefined" ? this : window);
</script>
    <script type="text/javascript" src="https://jslibs.blackmagicdesign.com/bundles/js/angular-bundle-1.4.14.js?_v=1606705995"></script>
    <script type="text/javascript" src="https://jslibs.blackmagicdesign.com/static/lib/ng-resources-2.js?_v=1694582131"></script>
    <script type="text/javascript" src="https://jslibs.blackmagicdesign.com/static/lib/ng-no-link-hijacking.js?_v=1606705995"></script>
    <script type="text/javascript" src="https://jslibs.blackmagicdesign.com/static/lib/products/landing/ng-resources.js?_v=1654752257"></script>
    <script type="text/javascript" src="https://jslibs.blackmagicdesign.com/static/lib/script2.js?_v=1712708968"></script>
    <script type="text/javascript" src="https://jslibs.blackmagicdesign.com/static/lib/retina.js?_v=1450056257"></script>
    

<!--------------prathamesh--------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

      <section id="title">
	<h1>
	Explore AJA Products
	</h1>
</section>

<section id="products">
	<div class="header">
		<h3>Select a Product Family</h3>
	</div>
	<div class="families">
		<div class="row">
			<a ng-click="setSection('professional-cameras')" ng-class="{active:current === 'professional-cameras'}">
				<img alt="Professional Cameras" width="131" height="103" src="https://www.aja.com/media/images/layout/responsive/nav/products/converters_thumb.png" srcset="https://images.blackmagicdesign.com/images/products/landing/families/professional-cameras@2x.jpg?_v=1712885215 2x">
				<div>Professional Cameras</div>
			</a>
			<a ng-click="setSection('davinci-resolve-and-fusion-software')" ng-class="{active:current === 'davinci-resolve-and-fusion-software'}">
				<img alt="DaVinci Resolve" width="131" height="103" src="https://www.aja.com/media/images/layout/responsive/nav/products/digital_recorders_thumb.png" srcset="https://images.blackmagicdesign.com/images/products/landing/families/davinci-resolve@2x.jpg?_v=1607036001 2x">
				<div>DaVinci Resolve and Fusion Software</div>
			</a>
			<a ng-click="setSection('atem-live-production-switchers')" ng-class="{active:current === 'atem-live-production-switchers'}">
				<img alt="ATEM Live Production Switchers" width="131" height="103" src="https://www.aja.com/assets/m/products/cameos/mobile_io_thumb.png" srcset="https://images.blackmagicdesign.com/images/products/landing/families/atem-live-production-switchers@2x.jpg?_v=1585515917 2x">
				<div>ATEM Live Production Switchers</div>
			</a>
			<a ng-click="setSection('ultimatte')" ng-class="{active:current === 'ultimatte'}">
				<img alt="Streaming and Encoding" width="131" height="103" src="https://www.aja.com/media/images/layout/responsive/nav/products/desktop_io_thumb_kona-1.png" srcset="https://images.blackmagicdesign.com/images/products/landing/families/ultimatte@2x.jpg?_v=1662357925 2x">
				<div>Ultimatte</div>
			</a>
			<a ng-click="setSection('disk-recorders-and-storage')" ng-class="{active:current === 'disk-recorders-and-storage'}">
				<img alt="Disk Recorders and Disk Storage" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/disk-recorders-disk-storage.jpg?_v=1627288697" srcset="https://images.blackmagicdesign.com/images/products/landing/families/disk-recorders-disk-storage@2x.jpg?_v=1627288698 2x">
				<div>Duplication, Disk Recorders and Storage</div>
			</a>
			<a ng-click="setSection('capture-and-playback')" ng-class="{active:current === 'capture-and-playback'}">
				<img alt="Capture and Playback" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/capture-and-playback.jpg?_v=1492656806" srcset="https://images.blackmagicdesign.com/images/products/landing/families/capture-and-playback@2x.jpg?_v=1492656757 2x">
				<div>Capture and Playback</div>
			</a>
			<a ng-click="setSection('cintel-scanner')" ng-class="{active:current === 'cintel-scanner'}">
				<img alt="Capture and Playback" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/cintel-film-scanning.jpg?_v=1460999808" srcset="https://images.blackmagicdesign.com/images/products/landing/families/cintel-film-scanning@2x.jpg?_v=1460999808 2x">
				<div>Cintel Scanner</div>
			</a>
		</div>
		<div class="row">
			<a ng-click="setSection('standards-conversion')" ng-class="{active:current === 'standards-conversion'}">
				<img alt="Standards Conversion" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/standards-conversion.jpg?_v=1460999808" srcset="https://images.blackmagicdesign.com/images/products/landing/families/standards-conversion@2x.jpg?_v=1460999808 2x">
				<div>Standards Conversion</div>
			</a>
			<a ng-click="setSection('broadcast-converters')" ng-class="{active:current === 'broadcast-converters'}">
				<img alt="Broadcast Converters" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/broadcast-and-camera-converters.jpg?_v=1554726801" srcset="https://images.blackmagicdesign.com/images/products/landing/families/broadcast-and-camera-converters@2x.jpg?_v=1554726813 2x">
				<div>Broadcast Converters</div>
			</a>
			<a ng-click="setSection('video-audio-monitoring')" ng-class="{active:current === 'video-audio-monitoring'}">
				<img alt="Video Monitoring" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/video-audio-monitoring.jpg?_v=1582778279" srcset="https://images.blackmagicdesign.com/images/products/landing/families/video-audio-monitoring@2x.jpg?_v=1582778267 2x">
				<div>Monitoring</div>
			</a>
			<a ng-click="setSection('network-storage')" ng-class="{active:current === 'network-storage'}">
				<img alt="Network Storage" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/network-storage.jpg?_v=1650000500" srcset="https://images.blackmagicdesign.com/images/products/landing/families/network-storage@2x.jpg?_v=1650000501 2x">
				<div>Network Storage</div>
			</a>
			<a ng-click="setSection('multiview')" ng-class="{active:current === 'multiview'}">
				<img alt="MultiView" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/multiview.jpg?_v=1525138874" srcset="https://images.blackmagicdesign.com/images/products/landing/families/multiview@2x.jpg?_v=1525138850 2x">
				<div>MultiView</div>
			</a>
			<a ng-click="setSection('routing-and-distribution')" ng-class="{active:current === 'routing-and-distribution'}">
				<img alt="Routing and Distribution" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/routing-and-distribution.jpg?_v=1694486099" srcset="https://images.blackmagicdesign.com/images/products/landing/families/routing-and-distribution@2x.jpg?_v=1694486099 2x">
				<div>Routing and Distribution</div>
			</a>
			<a ng-click="setSection('streaming-and-encoding')" ng-class="{active:current === 'streaming-and-encoding'}">
				<img alt="Streaming and Encoding" width="131" height="103" src="https://images.blackmagicdesign.com/images/products/landing/families/streaming-encoding.jpg?_v=1485906516" srcset="https://images.blackmagicdesign.com/images/products/landing/families/streaming-encoding@2x.jpg?_v=1485906517 2x">
				<div>Streaming and Encoding</div>
			</a>
		</div>
	</div>
</section>

{% endblock %}
</body>
</html>

